.about-me{
    .flex-container{
        margin: 50px  auto;
        @extend %dark-box;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        img{
            width: 200px;
            margin: 20px;
            filter: drop-shadow(0 0 6.5px $lighter-blue);
        }
        div {
            width: 600px;
            margin: 20px;
            p {
                color: $lighter-blue;
                font-size: 2rem;
            }
        }
    }
    .wrap-reverse {
        flex-wrap: wrap-reverse;
    }
}