.experience-container {
    @extend %flex-container;
    .experience-card {
        display: inline;
        @extend %light-box;
        background: linear-gradient(160deg, #00CAFB 30%, #062F64);
        box-shadow: 0 0 25px 2px $lighter-green-lo;
        width: 400px;
        height: 320px;
        margin: 20px;
        h4 {
            display: inline-block;
            width: 90%;
            font-size: 1.4rem;
            margin: 1rem 0 0.5rem 1.2rem;
            color: $dark-blue;
            font-weight: 960;
        }
        h5{
            display: inline-block;
            width: 90%;
            font-size: 1.2rem;
            margin: 0 0 0.5rem 1.2rem;
            color: $dark-green;
            font-weight: 850;
        }
        h6{
            display: inline-block;
            width: 90%;
            font-size: 1rem;
            margin: 0 0 0.2rem 1.2rem;
            color: $dark-blue;
        }
        div{
            @extend %dark-box;
            height: 210px;
            margin: 0 1.2rem 1rem 1.2rem;
            p {
                font-size: 12px;
                margin: 0.75rem 1rem;
                color: $lighter-green;
                line-height: 1.8rem;
                font-weight: 550;
            }
        }
    }
}