header {
    width: 100%;
    h1 {
        background-image: linear-gradient(to right, #00CAFB, #062F64);
        background-size: cover;
        @extend %title-format;
        font-size: 3rem;
        color: $almost-black;
    }
    h2{
        @extend %title-format;
        font-size: 2rem;
        background-color: $almost-black-lo;
        color: $lighter-green;
        text-shadow: 3px 3px 10px rgba(175, 238, 253, 0.55);   
    }
}

nav{
    position: sticky;
    top: 0;
    background-color: $almost-black-lo;
    z-index: 50;
    ul{
        margin: 0;
        padding: 20px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        li{
            a {
                @extend %dark-box;
                text-decoration: none;
                color: $mid-green;
                transition: all 0.5s;
                padding: 5px 10px;
                margin: 0 10px;
                font-size: 1.3rem;
                h6 {
                    display: inline;
                    color: $mid-green;
                    font-size: 1.3rem;
                    font-weight: 400;
                }
                .navbar-icon {
                    display: none;
                    width: 20px;
                    height: 20px;
                    color: $mid-green;
                }
                &:hover{
                    @extend %link-hover;
                }
            }
        }
    }
}


