main {
    .pic-slogan{
        display: flex;
        flex-wrap: wrap;
        margin: 175px 0 15px 0;
        justify-content: center;
        align-items: center;
        img {
            width: 151.27px;
            height: 151.27px;
            border: solid 1px $lighter-green;
            border-radius: 50%;
            margin-right: 20px;
        }
        div {
            display: inline;
            width: 400px;
            height: 151.27;
            margin: 20px 0 20px 20px;
            padding: 0px;
            p {
                margin: 0;
                color: $lighter-blue;
                font-style: italic;
                font-size: 2rem;
                text-shadow: 3px 3px 10px rgb(175 238 253 / 55%);

            }
        }
    }
}
.lets-talk-button {
    text-align: center;
    margin: 40px 0 325px 0;
    a {
        border-radius: 5px;
        background-color: $lighter-blue;
        text-decoration: none;
        transition: all 1s;
        color: $dark-blue;
        font-size: 3rem;
        padding: 5px 40px;
        &:hover{
            @extend %dark-box;
            color: $lighter-green;
        }
    }
}
