%title-format {
    text-transform: uppercase;
    margin: 0;
    padding: 0.3125rem 1.5625rem;
}

%dark-box {
    background-color: $dark-blue;
    border: solid $lighter-green 1px;
    border-radius: 5px;
}

%light-box {
    background: linear-gradient(160deg, $lighter-blue 30%, $lighter-green);
    border-radius: 5px;
}

%flex-container{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px auto;
}

%link-hover{
    color: $lighter-green;
    box-shadow: 0 0 20px 6px $lighter-green-lo;
    filter: brightness(2);
}