$almost-black: rgb(0, 5, 23);
$almost-black-lo: rgba(0, 5, 23, 0.8);
$lighter-green: rgb(11, 224, 210);
$lighter-green-lo: rgba(11, 224, 210, 0.2);
$dark-green:  rgba(5, 110, 73);
$mid-green: rgba(8, 168, 112);
$dark-blue: #000f22;
$lighter-blue: #00C8F8;
